{% extends "base.html" %}
{% set titulo = "Cadastro de Produto" %}
{% block conteudo %}
<form action="/post_cadastro" method="post">
    <div class="mb-3 form-floating">
        <input
            class="form-control"
            type="text"
            name="nome"
            id="nome"
            placeholder=" "
        >
        <label class="form-label" for="nome">Nome Completo</label>
    </div>


    <div class="mb-3 form-floating">
    <input
        class="form-control"
        type="text"
        name="estoque"
        id="estoque"
        placeholder=" "
    >
    <label class="form-label" for="estoque">Estoque</label>
</div>


<div class="mb-3 form-floating">
<input
    class="form-control"
    type="text"
    name="preco"
    id="preco"
    placeholder=" "
>
<label class="form-label" for="preco">Preço</label>
</div>




<div class="mb-3 form-floating">
    <textarea
        class="form-control"
        name="descricao"
        id="descricao"
        placeholder=" "
        style="height: 90px"
    ></textarea>
    <label class="form-label" for="descricao">Descrição</label>
</div>
<div class="mb-3 form-floating">
    <select
        class="form-control"
        name="categoria"
        id="categoria"
        aria-label="Selecione uma Categoria"
    >
        <!-- <option value="" selected disabled>Selecione uma Categoria</option> -->
        <option value="alimentos">Alimentos</option>
        <option value="limpeza">Limpeza</option>
        <option value="eletronicos">Eletrônicos</option>
        <option value="brinquedos">Brinquedos</option>
        <option value="vestuario">Vestuário</option>
        <option value="automotivo">Automotivo</option>
        <option value="esporte_lazer">Esporte & Lazer</option>
    </select>
    <label class="form-label" for="categoria">Categoria</label>
</div>
<div class="mb-3">
    <button class="btn btn-dark btn-lg" type="submit">Cadastrar</button>
</div>
</form>
{% endblock %}
